<div class="col-xs-10 col-xs-offset-1">
<h1>About Splurty</h1>
<p> 
Splurty was built by <a target="blank" href="https://github.com/unyon">Mike </a>
</p>
<p>
He is currently a student at the Firehose Project.
</p>
<br />
<br />

<div class="col-xs-12 col-sm-4">
<%= image_tag 'mike.png', :class => 'img-responsive' %>
</div>
<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<h2 class="text-center">Mike Halloran</h2>
<br />
<p>
Mike lives in Cambridge, MA and is currently studying web development. His interests include music, sports, and cats. 
</p>
</div>
<br class="clear" />

<br />
<p>

</div>